<div class="container" style="margin-top: 100px">
  <div class="row mb-5">
    <div class="col-12">
      <h1 class="text-center">Likovi iz crtića</h1>
      <button
        [routerLink]="['/lik-create']"
        type="button"
        class="btn btn-primary"
        style="width: 100%"
      >
        + Dodaj lik
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Ime</th>
            <th scope="col">Naziv Crtića</th>
            <th scope="col">Opis</th>
            <th scope="col">Uredi</th>
            <th scope="col">Obriši</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let lik of likovi">
            <th scope="row">{{ lik.id }}</th>
            <td>{{ lik.ime }}</td>
            <td>{{ lik.nazivCrtica }}</td>
            <td>{{ lik.opis }}</td>
            <td>
              <button
                [routerLink]="['/lik', lik.id]"
                type="button"
                class="btn btn-primary"
              >
                Uredi
              </button>
            </td>
            <td>
              <button
                (click)="obrisi(lik.id)"
                type="button"
                class="btn btn-danger"
              >
                Obriši
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
